.hero {
  @include gutters;

  background-color: var(--mid-green);
  background-image: none;

  @include breakpoint-desktop {
    background-image: url('/section1bg-min.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover
  }

  .content {
    max-width: 470px;
    padding: 90px 0;

    @include breakpoint-desktop {
      padding: 190px 0;
    }

    .title {
      font-weight: 400;
      font-size: 45px;
      line-height: 45px;
      text-wrap: balance;

      @include breakpoint-tab-desktop {
        font-size: 90px;
        line-height: 90px;
      }
    }
  
    .copy {
      margin-top: 20px;
      font-size: 18px;
      line-height: 30px;
    }

    .quizButton {
      cursor: pointer;
      padding: 15px 30px;
      margin-top: 36px;
      border: none;
      background-color: var(--deep-red);
      color: white;

      @include breakpoint-desktop {
        transition: background-color 0.3ms ease-in;

        &:hover {
          background-color: color.scale($deep-red, $lightness: 10%);
        }
      }
    }
  }
}