.results {
  @include gutters;

  margin-bottom: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  .text {
    font-size: 30px;
    text-align: center;
    text-wrap: balance;
  }
}