.quizQuestion {

  .questionLabel {
    display: block;
    position: relative;
    z-index: 2;

    &[data-selected="true"] {
      border: 2px solid red;
    }
  }

  .questionInput { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
}