.quiz {
  @include gutters;

  display: flex;
  flex-direction: column;
  height: 100vh;
  
  .exitButton {
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 40px;
    padding: 4px;
    margin: 26px 0 0 auto;
    z-index: 2;

    img {
      display: block;
    }

    @include breakpoint-desktop {
      transition: background-color 0.3ms ease-in;

      &:hover {
        background-color: var(--light-grey);
      }
    }
  }
}