.quiz {
  @include gutters;

  display: flex;
  flex-direction: column;
  height: 100vh;
  
  .exitButton {
    cursor: pointer;
    background-color: white;
    border: 1px solid var(--deep-red);
    color: var(--deep-red);
    padding: 15px 30px;
    margin: 26px 0 0 auto;
    z-index: 2;
    transition: background-color 0.5 ease-in;

    &:hover {
      background-color: var(--deep-red);
      color: white;
    }
  }
}