.quizQuestion {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 40px 0 120px;
  text-align: center;

  .questionTitle {
    font-size: 20px;
    text-wrap: balance;

    @include breakpoint-desktop {
      font-size: 30px;
    }
  }

  .questions {
    margin-top: 40px;

    &:has(img) {
      display: grid;
      gap: 12px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      max-width: 400px;

      @include breakpoint-desktop {
        max-width: unset;
      }
    }

    &:not(:has(img)) {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;

      li {
        width: 100%;
      }
    }
  }

  .inputLabel {
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--mid-grey);
    padding: 10px 20px;
    font-size: 16px;
    max-width: 480px;
    width: 100%;
    transition: background-color 0.3ms ease-in;

    @media not all and (hover: none) {
      &:hover {
        background-color: var(--light-grey);
      }
    }

    @include breakpoint-desktop {
      font-size: 20px;
    }
  }

  .inputLabelImage {
    border-radius: 20px;
    border: 1px solid var(--mid-grey);
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    max-width: 150px;

    span {
      padding-top: 8px;
      font-size: 12px;
    }

    &:hover {
      background-color: var(--light-grey);
    }

    @include breakpoint-desktop {
      max-width: unset;

      span {
        font-size: 16px;
      }
    }
  }

  .questionLabel {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 2;

    &[data-selected="true"] {
      .inputLabelImage,
      .inputLabel {
        box-shadow: 0px 0px 6px 2px var(--dark-green);
      }
    }
  }

  .questionInput {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .questionNav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: white;
    bottom: 0;
    box-shadow: 0px 0px 6px 2px var(--mid-grey);
    padding: 20px 30px;
    width: 100%;
    z-index: 2;

    &:not(:has([data-id="previous"])) {
      justify-content: flex-end;
    }

    .navButton {
      cursor: pointer;
      display: flex;
      align-items: center;
      background: white;
      border: none;
      padding: 0;
      font-size: 20px;

      &[data-id="previous"] {
        img {
          margin-right: 5px;
        }
      }

      &[data-id="next"] {
        img {
          margin-left: 5px;
        }
      }
    }
  }
}